@import '../../../scss/util/config.scss';

.rf-filters{
  margin-bottom: 64px;
  @include mobile{
    margin-left: -48px;
    margin-right: -48px;
    margin-bottom:24px;
    padding: 0px 24px;
  }
}
.rf-filters-main{
  padding: 48px;
  position: relative;
  @include mobile{
    padding: 20px 32px;
    padding-bottom: 24px;
  }
}

.rf-filters-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.rf-filters-inner{
  white-space: nowrap;
  text-align: center;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  // overflow-y: visible;
}

.rf-filter-item{
  display: inline-block;
  margin-right: 32px;
  text-transform: uppercase;
  font-size: 0.8rem;
  @include mobile{
    font-size: 16px;
    margin-right: 24px;
  }
}
.rf-filters-inner .rf-filter-item{
  color: white;
  font-weight: 500;
}

.rf-filter-item > span{
  margin-right: 24px;
  @include mobile{
    margin-right: 12px;
  }
}

.rf-filter-item .rf-select{
  display: inline-block;
  min-width: 180px;
  @include mobile{
    min-width: 120px;
  }
}

.rf-filters-sort-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  @include mobile{
    padding: 0 24px;
    margin-top: 24px;
  }
}