@import '../../../scss/util/config.scss';

.rf-splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: Italiana;
  }
}

.rf-splash-screen-loading-background, .rf-splash-screen-loading-foreground {
  height: 4px;
  margin-top: -35px;
  position: relative;
}

.rf-splash-screen-loading-background {
  span {
    position: absolute;
    right: -30px;
    font-family: Poppins;
    top: -10px;
    font-size: 0.6rem;
  }
}

.rf-splash-screen-loading-foreground {
  background-color: $brand-color;
  transition: width 100ms ease;
}