@use "sass:map";

// font weight helper classes | eg. rf-text-w-l
@each $weight, $value in $font-weights-short {
  .rf-text-w-#{$weight} {
    font-weight: $value;
  }
}

// font weight helper classes | eg. rf-text-w-l
@each $weight, $value in $font-weights-short {
  .rf-text-w-#{$weight} {
    font-weight: $value;
  }
}

// selectors - h1, h2 etc.
@mixin generateFontSizeStyles ($selector, $desktopScale, $mobileScale) {
  #{$selector} {
    font-size: map.get($font-sizes-desktop, $desktopScale);
    @include mobile {
      font-size: map.get($font-sizes-mobile, $mobileScale);
    }
  }
}

@mixin generateMarginBottomStyles ($selector, $desktopScale, $mobileScale) {
  #{$selector} {
    margin-bottom: map.get($spacings-desktop, $desktopScale);
    @include mobile {
      margin-bottom: map.get($spacings-mobile, $mobileScale);
    }
  }
}

@include generateFontSizeStyles("h1", "xxl", "xxl");
@include generateFontSizeStyles("h2", "xl", "lg");
@include generateFontSizeStyles("h3", "lg", "lg");
@include generateFontSizeStyles("h4", "lg", "md");
@include generateFontSizeStyles("p", "md", "sm");
@include generateFontSizeStyles(".rf-text-sm", "sm", "xs");
@include generateFontSizeStyles(".rf-text-xs", "xs", "xxs");
@include generateFontSizeStyles(".rf-text-xxs", "xxs", "xxs");

@include generateMarginBottomStyles("h1", "xl", "xl");
@include generateMarginBottomStyles("h2", "lg", "lg");
@include generateMarginBottomStyles("h3", "md", "md");
@include generateMarginBottomStyles("h4", "md", "md");
@include generateMarginBottomStyles("p", "md", "md");

h1, h2, h3, h4{
  font-weight: map.get($font-weights, "medium");
}

p{
  font-weight: map.get($font-weights, "regular");
  margin-bottom: map.get($font-weights, "regular");
}

h1{
  line-height: 1.2;
}

.rf-text-white{
  color: white;
}

.rf-text-align-c{
  text-align: center;
}
.rf-text-align-j{
  text-align: justify;
}
.rf-text-align-l{
  text-align: left;
}
.rf-text-align-r{
  text-align: right;
}

@include mobile{
  .rf-mobile-text-align-c{
    text-align: center;
  }
  .rf-mobile-text-align-j{
    text-align: justify;
  }
  .rf-mobile-text-align-l{
    text-align: left;
  }
  .rf-mobile-text-align-r{
    text-align: right;
  }
}

.rf-line-height-1_75{
  line-height: 1.75;
}

.rf-line-height-2{
  line-height: 2;
}


html, body, input, textarea, button, select, label{
  @include xs{
    font-size: 16px;
  }
  @include sm{
    font-size: 17px;
  }
  @include md{
    font-size: 15px;
  }
  @include lg{
    font-size: 16px;
  }
  @include xl{
    font-size: 18px;
  }
  @include xxl{
    font-size: 20px;
  }
  @include xxxl{
    font-size: 22px;
  }
}