@import '../../design-system/scss/util/config.scss';

.rf-product-page-intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: $bg-color-light-1;
  padding: 64px;

  img {
    width: 480px;
    height: 640px;
  }
}

.rf-product-page-gallery {
  padding: 64px;
}