@import '../../../scss/util/config.scss';

.rf-container-box-wrapper {
  width: 780px;
  padding: 64px;
  background: linear-gradient(
  0deg
  , rgba(240, 228, 210, 0.4), rgba(240, 228, 210, 0.4));
  mix-blend-mode: multiply;

  h3 {
    font-weight: normal;
  }

  @include mobile {
    padding: 30px;
  }
}

.rf-container-box-header {
  position: relative;
  margin-bottom: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -30px;
    background: #000;
  }
}