* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  background-color: $bg-color;
  line-height: 1.5;
}

html, body, input, textarea, button, select, label{
  font-family: Poppins;
  font-size: 20px;
  @include mobile{
    font-size: 16px;
}

* {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
}

.rf-italiana{
  font-family: Italiana;
}