@import '../../design-system/scss/index.scss';

.rf-hero-img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.rf-hero{
  // @extend .rf-position-r;
  // @extend .rf-flex;
  // @extend .rf-flex-al-c;
  // @extend .rf-flex-al-c;
  width: 100vw;
  height: 100vh;
}

.rf-hero-message{
  text-align: center;
  max-width: 800px;
  @include mobile{
    max-width: calc(100% - 48px);
  }
  button{
    width: 240px;
  }
}

.rf-social-link{
  display: inline-block;
  padding: 12px;
  border: 1px solid rgba(white, 0.2);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  img{
    height: 24px;
    width: 24px;
    display: block;
    opacity: 0.4;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
  &:hover{
    border-color: white;
    img{
      opacity: 1;
    }
  }
}

.rf-hero-social-links{
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 48px;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;

  .rf-social-link{
    transform: rotateZ(90deg);
  }

  @include mobile{
    transform: rotateZ(0deg) translateX(0);
    left: 0;
    right: 0;
    bottom: -5px;
    text-align: center;

    .rf-social-link{
      transform: rotateZ(0deg);
    }
  }
}


.hero-diamond-filler{
  position: absolute;
  top: auto;
  bottom: 32px;
  right: 48px;
  @include mobile{
    display: none;
  }
}

.hero-diamond-filler--static {
  position: static;
}

.hero-diamond-filler > div{
  display: inline-block;
  margin-left: 12px;
  height: 8px;
  width: 8px;
  border: 1px solid white;
  transform: rotateZ(45deg);
}

.hero-diamond-filler > div:nth-child(2){
  background: white;
}

.hero-diamond-filler--static > div {
  border: none;
  background: $brand-color;
}

.hero-diamond-filler--static > div:nth-child(2){
  background: $brand-color;
}