.rf-button-base{
  border-radius: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 300;
}

.rf-button-inner-wrapper {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: clip-path;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 0px 10px;
  }
}

// variants
.rf-button-variant-primary{
  outline: 1px solid;
  .rf-button-inner-wrapper{
    clip-path: inset(4px 4px 4px 4px);
  }
  &:hover .rf-button-inner-wrapper{
    clip-path: inset(0px 0px 0px 0px);
  }
}
.rf-button-variant-secondary{
  outline: none;
}
.rf-button-variant-tertiary{
  outline: 1px solid;
}

// themes
@mixin buttonTheme($themeName, $themeColor, $themeInvertColor){
  .rf-button-theme-#{$themeName}{
    outline-color: $themeColor;
  }
  .rf-button-theme-#{$themeName}.rf-button-variant-primary{
    .rf-button-inner-wrapper{
      background-color: $themeColor;
      color: $themeInvertColor;
    }
  }
  .rf-button-theme-#{$themeName}.rf-button-variant-secondary{
    .rf-button-inner-wrapper{
      background-color: rgba($themeColor, 0.1);
      color: $themeColor;
    }
  }
  .rf-button-theme-#{$themeName}.rf-button-variant-tertiary{
    .rf-button-inner-wrapper{
      background-color: transparent;
      color: $themeColor;
    }
  }
}

@include buttonTheme(dark, $brand-color, white);
@include buttonTheme(light, white, $brand-color);

// sizes
.rf-button-size-large{
  .rf-button-inner-wrapper{
    padding: 24px;
  }
}
.rf-button-size-medium{
  .rf-button-inner-wrapper{
    padding: 20px;
  }
}
.rf-button-size-small{
  .rf-button-inner-wrapper{
    padding: 16px;
  }
}

// responsive
.rf-button-responsive{
  width: 100%;
}