@import '../../../../scss/util/config.scss';

// todo: refactor
// todo: create 

.rf-select.rf-select-variant-tertiary.rf-select-theme-light{
  .rf-select__control{
    cursor: pointer !important;
    background: transparent ;
    color: white;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid white;

    &is--focused{
      outline: none !important
    }

    @include mobile{
      border-bottom: 1px solid white;
    }
  }

  .rf-select__single-value{
    color: white;
    margin-left: 0;
  }

  .rf-select__indicator-separator {
    display: none;
  }

  .rf-select__indicator{
    padding-right: 0;
  }

  .rf-select__value-container{
    padding-left: 0;
  }
}

.rf-select.rf-select-variant-secondary.rf-select-theme-dark{
  .rf-select__control{
    cursor: pointer !important;
    background: rgba($brand-color-secondary, 0.1);
    color: white;
    border-radius: 0;
    border: 0;
    height: 100%;
    &is--focused{
      outline: none !important
    }
  }

  .rf-select__single-value{
    color: $brand-color;
    margin-left: 0;
  }

  .rf-select__indicator-separator {
    display: none;
  }

  .rf-select__indicator{
    padding-right: 24px;
    color: $brand-color;
  }

  .rf-select__value-container{
    padding-left: 24px;
  }
}

.rf-select.rf-select-variant-primary.rf-select-theme-dark{
  border: 1px solid rgba(181, 85, 0, 0.2);
  padding: 4px;
  .rf-select__control{
    cursor: pointer !important;
    background: rgba($brand-color-secondary, 0.1);
    color: white;
    border-radius: 0;
    border: 0;
    height: 100%;
    &is--focused{
      outline: none !important
    }
  }

  .rf-select__single-value{
    color: $brand-color;
    margin-left: 0;
  }

  .rf-select__indicator-separator {
    display: none;
  }

  .rf-select__indicator{
    padding-right: 24px;
    color: $brand-color;
  }

  .rf-select__value-container{
    padding-left: 24px;
  }
}

.rf-select__menu{
  border-radius: 0;
  background: $bg-color;
  border: 1px solid $brand-color;
  color: $brand-color;
  padding: 0;
  text-transform: uppercase;
}
.rf-select__menu-list{
  border-radius: 0;
  background: $bg-color;
  border: 1px solid $brand-color;
  padding: 0;
}

.rf-select__option{
  color: $brand-color;
  cursor: pointer;
}

.rf-select__option--is-selected{
  color: white;
  background: $brand-color;
}