@import '../../../scss/util/config.scss';

.rf-chip-wrapper {
  background-color: $brand-color;
  padding: 10px 30px;
  cursor: pointer;
  position: relative;

  & > i {
    margin-right: 10px;
  }

  p {
    color: $bg-color-light-0;
    margin-bottom: 0px;
  }

  &--disabled {
    background-color: $disabled-color;
    cursor: initial;

    p {
      color: $brand-color;
    }
  }

  .rf-chip-hint {
    content: "";
    position: absolute;
    top: -15px;
    right: 2px;
    font-size: 0.5rem;
    padding: 4px 5px;
    background-color: rgba($brand-color-secondary, 0.1);
    color: $brand-color;
  }
}