@use "sass:map";
@import '../../../scss/util/config.scss';

// ReactModal Classes

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(0.75);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1);
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: scale(0.75);
  transition: all 500ms ease-in-out;
}

// Component Classes

.rf-basemodal-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 64px;
  height: 64px;
  background: #F6EFE5;
  border: none;
}

.rf-basemodal-header {
  font-family: Italiana;
  color: rgba($brand-color, 0.4);
  text-align: center;
}

.rf-basemodal-wrapper {
  height: 100%;
}