@import '../../../scss/util/config.scss';

.rf-product-listing{
  cursor: pointer;
  color: $brand-color;
  position: relative;
  transform: translateY(10%);
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;

  .rf-cutout-img, .rf-model-img{
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    display: block;
  } 
  .rf-model-img{
    min-height: 200px;
    // todo: set proper aspect ratio
  }
  .rf-cutout-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

  
  &:hover{
    .rf-cutout-img{
      opacity: 1;
    }
    .rf-model-img{
      opacity: 0;
    }
  }

  &-fade-in{
    opacity: 1;
    transform: translateY(0);
  }

  &-fade-out{
    opacity: 1;
    transform: translateY(0);
  }

}

.rf-product-listing .rf-product-listing-theme-light{
  color:white;
}

.rf-product-listing-counter-slot{
  position: absolute;
  bottom: 0;
  right: 0;
}

.rf-cutout-img, .rf-model-img{
  display: block;
}